*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    height: 100%;
    width: 100%;
}

/* small circle cursor styling  */
#minicircle{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

/* header styling */
#main{
    width: 100%;
    background-color: #000000;
}

#hero{
    width:100%;
    height: 100vh;
    background-color: black;
    color: #ffffff;
    position: relative;
}

#nav{
    width: 100%;
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 500;
}

#heading{
    margin-top: 4vh;
}

#heading h1{   
    font-family: "General Sans";
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    color: #d5d5d5;
    opacity: 0.8;
    margin-left: 7vh;
    
}

#heading .heading2{
    margin-left: 14vw;
}

.blocktext{
    width: fit-content;
}

.blocktext h5{
    text-align:right;
    text-transform: uppercase;
    font-size: 1vw;
}

#herobottom{
    position: absolute;
    width: 100%;
    bottom: 3%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 3vw;
}

#herobottom a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 1vw;
}

#herobottom #iconset{
    display:flex;
    gap: 0.3vw;
}

#herobottom .circle{
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#herobottom-last{
    margin-top: 23vh;
    padding-right: 3vw;
}

#herobottom-last h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vh;
    font-size: 1vw;
    font-weight: 500;
}

/* SECOND PAGE STYLINGs */
#secondpage{
    color: white;
    width: 100%;
    height: 200vh;
    background-color: #000;
    padding-top: 18vh;
    padding-right: 10vw;
}

.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid #888;
    margin-left: 3vw;
    padding: 3.5vw 3vw;
    padding-right: 2vw; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem h1{
    text-transform: uppercase;
    font-size: 6.5vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    position: absolute;
    z-index: 999;
    height: 140%;
    display: none;
}

#secondpage a{
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    border: 0.1vw solid white;
    padding: 7px 20px;
    border-radius: 30px;
}

#view{
    margin-top: 45px;
    margin-left: 3vw;
}

/* scroller section styling  */

#scroller{
  width: 100%;
  height: 70vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scrollimages{
  width: 100%;
  overflow: hidden;
  position: relative;
  border-top: 0.1vw solid #888;
  border-bottom: 0.1vw solid #888;
  height: 25vh;
  display: flex;
  align-items: center;
}

.scrolltrack{
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.scrolltrack img{
  height: 100%;
  padding: 0 3vw;
  object-fit: contain;
}

/* animation  */

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* about section styling */

#about{
    color: #fff;
    width: 100%;
    padding: 10vw 5vw;
    padding-left: 35vw;
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 5vw;
}

#textabout{
    width: 26.5rem;
}

#textabout h5{
    opacity: 0.6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 1.2vw;
}

#textabout a{
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 30px;
}

#about img{
    width: 200px;
}

/* subscribe section styling  */
#subscribe{
    background-color: #000000;
    width: 100%;
    height: 27vh;
    color: #fff;
    padding: 3vw 3vw;
    text-transform: uppercase;
}

#subscribe h5{
    opacity: 0.7;
    font-size: 0.9vw;;
}

#subscribe a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1vw;
}

/* footer section styling */
#footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
}

#footerleft {
    display: flex;
    gap: 2vw;
    font-size: 1.1vw;
}

#footerright {
    display: flex;
    gap: 2.5vw;
}

#footer a {
    text-transform: uppercase;
    font-size: 1.1vw;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}







